@font-face {
    font-family: Vavazinho;
    src: url(../fonte/Valorant-Font.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: #252525;
}
header{
    display: flex;
    align-items: center;
    background: linear-gradient(#943e3c , #252525);
    padding: 10px;
}
#navbar{
    display: flex;
    align-items: center;
    gap: 10px;
}
#navbar h3{
    font-size: 22px;
    font-family: Vavazinho;
}

#navbar a{
    color: #943e3c;
    font-size: 13px;
    list-style-type: none;
}
#navbar a:hover{
    color: #252525;
    transition: .2s;
}
.title-container {
    text-align: center;
    width: 510px;
    margin-top: 1rem;
    color: red;
}

.title-container h1{
    font-family: Vavazinho;
}

.letter-yellow {
    color: #c79c2e;
}

.letter-green {
    color: #51b36e;
}
.letter-red {
    color: #943e3c;
}
.letter-blue {
    color: #003cff;
}

.app-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 233px;
}

.tile-row {
    margin-bottom: 1rem;
    justify-content: center;
    display:flex;
    box-sizing: border-box;
}

.tile-column {
    background-color: #f4f3f1;
    color: #252525;
    height: 40px;
    width: 48px;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    display:flex;
}

.typing {
    border: 3px solid #252525;
}

.disabled {
    border: 1px solid #252525;
}

.right {
    background-color: #51b36e;
    color: #f4f3f1;
}

.wrong {
    background-color: #943e3c;
    color: #f4f3f1;
}

.displaced {
    background-color: #c79c2e;
    color: #f4f3f1;
}

.keyboard-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.keyboard-row-container {
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.5rem;
    justify-content: center;
    display: flex;
}

.keyboard-row-container.notAlphabetic {
    width:100%
}

.keyboard-row-container:not(.notAlphabetic) button {
    width: 8%;
    height: 40px;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    border: 1px solid #252525;
    font-size: 16px;
    cursor: pointer;
}
button{
    padding: 10px;
    background: #943e3c;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .2s;
}
footer{
    padding: 15px;
    background: rgb(65, 65, 65);
    text-align: center;
}
footer a{
    color: #943e3c;
}
#play{
    padding-top: 35px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: Vavazinho;
}
#play h3{
    font-size: 30px;
    padding-bottom: 10px;
}
#play p{
    width: 650px;
    color: rgb(112, 112, 112);
    background: rgb(122, 51, 51);
    border-radius: 12px;
}
#players{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 100px;
}
#elo-player{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 150px;
    padding-top: 20px;
    background: linear-gradient(#943e3c , #000000);
    height: 300px;
    width: 1200px;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-family: Vavazinho;
}
#player{
    text-align: center;
}